{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 section details" > 
                <div id="detailsRoomsText">RESERVE THIS ROOM</div>
                <div class="row">
                    {% for room in rooms %}
                        <div class="col-md-6 col-lg-6">
                            <div class="room">

                                <p class="roomHeading">
                                    <i class="fa fa-bed roomIcon"></i> {{room.roomtype}}
                                </p>
                                <p> 
                                    <strong>€{{room.price}} per night (€{{room.price * nights}} for {{nights}} nights) </strong>
                                </p> 
                                <p>
                                    <strong>Checkin:</strong> {{room.checkin}} - <strong>Checkout:</strong> {{room.checkout}}
                                </p>
                                <p> 
                                    <strong>From:</strong> {{fromdate}} - To: {{todate}} 
                                </p> 
                                <p> 
                                    <strong>Max People:</strong> {{room.maxpeople}} 
                                </p> 
                                <p> 
                                    <strong>Private Bathroom:</strong> {{room.privatebathroom}} 
                                </p>
                                <p>
                                    <strong>Description:</strong>
                                    {{room.description}}
                                </p>
                               
                            </div>
                        </div>
                    {% endfor %}
                    <div class="col-md-6 col-lg-6" id="bookingForm">
                        <div class="row">
                            <div class="col-lg-12">
                                <p>
                                    <strong>Dates:</strong> {{fromdate}} - {{todate}}
                                </p>
                            </div>
                        </div>
                        {{form_start(bookform, {'attr': {'id': 'bookform'}})}}
                            <div class="row">
                                <div class="col-lg-12" id="roomid">
                                    {{form_widget(bookform.roomid, {'attr': {'placeholder': 'roomid', 'value': roomid}}) }}
                                </div>
                                <div class="col-md-6 col-lg-6 hideElement">
                                    {{form_widget(bookform.datefrom, {'id': 'datepickerFrom', 'attr': {'placeholder': 'From', 'value': fromdate, 'autocomplete': 'off'}}) }}
                                </div>
                                <div class="col-md-6 col-lg-6 hideElement">
                                    {{form_widget(bookform.dateto, {'id': 'datepickerTo', 'attr': {'placeholder': 'To', 'value': todate, 'autocomplete': 'off'}}) }}
                                </div>
                                <div class="col-lg-12">
                                    {{form_widget(bookform.numberofpeople, {'id': 'persons', 'value': 1}) }}
                                </div>
                                <div class="col-md-6 col-lg-6">
                                    {{form_widget(bookform.firstname, {'attr': {'placeholder': 'First Name'}}) }}
                                </div>
                                <div class="col-md-6 col-lg-6">
                                    {{form_widget(bookform.lastname, {'attr': {'placeholder': 'Last Name'}}) }}
                                </div>
                                <div class="col-lg-12">
                                    {{form_widget(bookform.email, {'attr': {'placeholder': 'E-Mail'}}) }}
                                </div>
                                <div class="col-lg-12">
                                    {{form_widget(bookform.phone, {'attr': {'placeholder': 'Phone'}}) }}
                                </div>
                            </div>
                        {{form_end(bookform)}}
                        <div class="row">
                            <div class="col-lg-12 formSubmittedMessageSuccess"><!-- form submit success message --></div>
                            <div class="col-lg-12 formSubmittedMessageFail"><!-- form submit Error message --></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block scripts %}
    <script>
        // this is the id of the form
        $("#bookform").submit(function(e) {

            e.preventDefault(); // avoid to execute the actual submit of the form.

            var form = $(this);
            var actionUrl = form.attr('action');
            
            $.ajax({
                type: "POST",
                url: actionUrl,
                data: form.serialize(), // serializes the form's elements.
                success: function(data)
                {
                    $('.formSubmittedMessageSuccess').html('Booking Successful');
                },
                error: function(jqXHR, textStatus, errorThrown) 
                {
                    $('.formSubmittedMessageFail').html('Error...');
                }
            });
            
        });
    </script>
{% endblock %}